################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp/.vs/ConsoleApp/v16
/ConsoleApp/ConsoleApp/bin/Debug/netcoreapp3.0
/ConsoleApp/ConsoleApp/obj
